.Title{
    text-align: center;
    color: var(--color-white);
    padding-bottom: 2rem;
}

.education__container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


.education__contents{
    display: grid;
    gap: 2rem;
}


.inputs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-top: 2rem;
}

.inputs h3{
    color: var(--color-white);
}

.indexs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.education__container2 > div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.education__container2 > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.education__container2 > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.education__content2{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.education__content2 small{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.education__details{
    display: flex;
    gap: 1rem;
}

.texts h4{
    color: var(--color-white);
}

.texts small{
    color: var(--color-light);
}

.education__details-icon{
    margin-top: 6px;
    color: var(--color-primary);
}

/* ======== Media Queries (Medium Devices) ====== */
@media screen and (max-width: 1024px){
    .education__container2{
        grid-template-columns: 1fr;
    }

    .education__container2 > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .education__content2{
        padding: 1rem;
    }
}

/* ======== Media Queries (Small Devices) ====== */
@media screen and (max-width: 600px) {
    .education__container2 {
        gap: 1rem;
    }

    .education__container2 > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}