.container.login__container{
    width: 100%;
    display: grid;
    grid-template-columns: 60%;
    gap: 12%;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

/* ======== Media Queries (Medium Devices) ====== */
@media screen and (max-width: 1024px){
    .container.login__container{
        grid-template-columns: 60%;
        gap: 2rem;
        justify-content: center;
    }
}

/* ======== Media Queries (Small Devices) ====== */
@media screen and (max-width: 600px){
    .container.login__container{
        grid-template-columns: 1fr;
        width: var(--container-width-sm);
    }
}